{% extends 'doctor/d_basic.html' %}

{% block title %} Appointment Section {% endblock %}

{% load static %}

{% block css %}

body{
    background-image: url('{% static "patient/853644-gorgerous-green-l.jpg"%}') ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
	background-attachment: fixed;
}

#applist{
    box-shadow: 0 0 20px  #000000;
}



{% endblock %}

{% block body %}


    <div class="w-75 m-auto"  >
        <div class="container-fluid text-center pt-4 text-white">
            <h1 style="text-shadow: 2px 2px 5px black;"><b>Chat Request </b></h1>
            <hr class="w-50 " style="box-shadow: 5px 5px 5px #000000;">
        </div>
        
            
            {% for obj in objs %}
               <form method='POST' action='' class="w-100 m-auto" >
                {% csrf_token %}


                
                    {% if obj.doc_id == user.doctor.pk %}

                    <div class="row p-4 mt-3" id='applist'>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <span><strong>Chat id : </strong> {{ obj.chat_id }} </span>
                        </div>

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            
                            {% for patobj in patobjs %}
                                {% if patobj.user.pk == obj.pat_id %}
                                    <span><strong>Patient Name : </strong>{{ patobj.name }}</span><br>
                                {% endif %}
                            {% endfor %}

                        </div>


                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            {% if obj.chat_status == False and obj.reject_status == False %}
                                <a class="btn-success text-white p-2" href="{% url 'd_chat_accept' obj.pk %}">Accept</a>
                                <a class="btn-success text-white p-2" href="{% url 'd_chat_reject' obj.pk %}">Reject</a>
                            {% endif %}
                            {% if obj.chat_status == True and obj.closed == False %}
                                <span class="btn-success text-white p-2" >Accept</span>
                                {% for patobj in patobjs %}
                                    {% if patobj.user.pk == obj.pat_id %}
                                        <a class="btn-primary text-white p-2" href="{% url 'd_chatting' patobj.pk %}">Chat Here</a> 
                                    {% endif %}
                                {% endfor %}
                                
                            {% elif obj.chat_status == True and obj.closed == True %}
                                <span class="btn-warning text-white p-2" >Closed</span>
                            {% endif %}
                            {% if obj.reject_status == True %}
                                <span class="btn-danger text-white p-2" >Reject</span>
                            {% endif %}
                        </div>

                </div><hr>
               

                    {% endif %}
                </form>
               {% endfor %}
       
    </div>

    

{% endblock %}
